@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600;700&family=Space+Grotesk:wght@600;700&family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,0');

@import "tailwindcss";

@theme {
  --font-sans: "Plus Jakarta Sans", sans-serif;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: #f5f7fb;
  color: #1b1b1e;
}

.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}

@keyframes dash {
  to {
    stroke-dashoffset: -16;
  }
}

/* Leaflet Map Fix */
.leaflet-container {
  height: 100%;
  width: 100%;
  z-index: 1;
}

.leaflet-control-zoom {
  z-index: 1000 !important;
}

.leaflet-popup {
  z-index: 1000 !important;
}